<table bgcolor="#E3F1BD" cellpadding="0px" cellspacing="0px" width="210px"  >
<tr class="LeftPaneHLink">
<td >
@Html.ActionLink("Agency Profile", "Home")
</td>
</tr>

<tr class="LeftPaneHLink">
<td style="padding-left:20px">
@Html.ActionLink("Manage Agency Users (links to H8 – list of agency users)", "Home")

</td>
</tr>
<tr class="LeftPaneHLink">
<td style="padding-left:20px">
@Html.ActionLink("My Profile", "Home")

</td>
</tr>
<tr class="LeftPaneHLink">
<td style="padding-left:20px">
@Html.ActionLink("Create Agency User", "Home")

</td>
</tr>
<tr class="LeftPaneHLink">
<td style="padding-left:20px">
@Html.ActionLink("Report", "Home")

</td>
</tr>
</table>