<table bgcolor="#ECF3C8" cellpadding="0px" cellspacing="0px" width="210px"  >
<tr class="LeftPaneHLink">@*bgcolor="#E3F1BD"*@
<td >
@Html.ActionLink("Create New Application", "TCAF", "CAF")
</td>
</tr>
<tr class="LeftPaneHLink">
<td style="color:#CC6666">
@Html.Label("lblHeading","Applications")
</td>
</tr>
<tr class="LeftPaneHLink">
<td style="padding-left:20px">
@Html.ActionLink("To be submitted (NEW)", "CAFList","CAF")

</td>
</tr>
<tr class="LeftPaneHLink">
<td style="padding-left:20px">
@Html.ActionLink("Incomplete (INCOMPLETE)", "CAFList", "CAF")

</td>
</tr>
<tr class="LeftPaneHLink">
<td style="padding-left:20px">
@Html.ActionLink("Submitted Applications", "CAFList", "CAF")

</td>
</tr>
<tr class="LeftPaneHLink">
<td style="padding-left:20px">
@Html.ActionLink("View by Children", "CAFList", "CAF")

</td>
</tr>
<tr class="LeftPaneHLink">
<td style="padding-left:20px">
@Html.ActionLink("View applications by Camp", "CAFList", "CAF")

</td>
</tr>
<tr class="LeftPaneHLink">
<td style="padding-left:20px">
@Html.ActionLink("View My Submissions", "CAFList", "CAF")
</td>
</tr>
<tr class="LeftPaneHLink">
<td style="padding-left:20px" >
@Html.ActionLink("View All Submissions", "CAFList", "CAF")
</td>
</tr>
<tr class="LeftPaneHLink">
<td>
@Html.ActionLink("Rejected Faxes", "FaxList","Fax")
</td>
</tr>
</table>